.card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    
}

.tile {
    background-color: skyblue;
}

.box {
    text-transform: uppercase;
}

#lclTime {
    font-size: 35px;
    text-align: center;
}

.wCard{
    padding: 5px;
    margin: 6px;
    
    text-align: center;
}

.wCard:hover {
 
    box-shadow:10px 10px 5px grey;
    
}

.control{
    display: flex;
    flex-direction: row;
}

.footer{
    align-items: center;
    align-content: center;
    text-align: center;
}