.card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.wCard{
    padding: 5px;
    margin: 6px;
    
    text-align: center;
}

.card :hover {
    display: block;
    box-shadow:10px 10px 5px grey;
    
}